.para{
    color:aqua;
    
}
div{
    background-image: linear-gradient(to bottom left ,grey, pink);
    height:auto;
    width:30%;
    margin:5px;
    padding:5px;
    border:5px solid rgb(234, 115, 176);
    border-radius: 10%;
    color: darkslateblue;
    font-size: medium;
    font-weight: bold;
}
div:hover{
    background-color: brown;
}
para:hover{
    color: darkmagenta;
}
h3{
    color: saddlebrown;
    font-family: "Playwrite US Trad Guides", cursive;
}
.div2{
    color:beige;
    background-image: url(https://i.pinimg.com/736x/96/fd/01/96fd0183673d4bf3f8f22ec7d07917bb.jpg);
    background-repeat: no-repeat;
   
}
.div3{
    color: black;
    background-image: url(./assets/div3.jpg);
    background-repeat: no-repeat;

}

.div2:hover{
    box-shadow: 15px 10px 10px grey;
}
img{
    filter: drop-shadow(15px 10px 10px black);
    height: auto;
    width: 200px;
}
main{
    background-color: coral;
    height: auto;
    width: 650px;
    display: flex;
    margin: 25px;
    padding:5px;
    border: 20px;
    border-color: black;
    border-radius: 10%;
    animation-name: mainanimation;
    animation-duration: 3s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}
@keyframes mainanimation{
     0%{background-color:white;}
     25%{background-color: rgb(137, 136, 135);}
     50%{background-color: rgb(74, 74, 74);}
     75%{background-color: rgb(43, 43, 43);}
     100%{background-color: black;}
}